
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
.announcement_main{
    display: flex;
    flex-direction: column;
    /* align-items: flex-start; */
    /* min-height: 100vh; */
    /* min-width: 100vw; */
    overflow: hidden;
}

.announcement-bg-image{
    position: fixed;
    width: 100vw;
    height: 100vh;
    z-index: -1;
}
.announcement_header-ann{
    margin-top: 4vw;
    font-family: Bebas Neue;
    font-style: normal;
    font-weight: 400;
    text-transform: capitalize;
    font-size: 5rem;
    padding-left: 30px;
    color: #ADD7F2;
}

.announcement-con {
    backdrop-filter: blur(7px) saturate(120%);
    -webkit-backdrop-filter: blur(16px) saturate(200%);
    background-color: rgba(255, 255, 255, 0.15);
    border: rgba(186,186,186,0.3) solid 1.5px;
    border-radius: 25px;
    margin-left: 20px;
    margin-right: 20px;
    display: flex;
    flex-direction: column;

}

.announcement {
    padding-left: 20px;
    padding-top: 20px;
    padding-right: 20px;

}

.ann_image-con {
    display: flex;
    flex-direction: row;

}

.ann_image{
    width: 84px;
    height: 84px;
    border-radius: 20px;
    padding-left: 10px;
    padding-bottom: 10px;
    padding-top: 10px;
    padding-bottom: 10px;

}

.ann_by {
    padding-left: 10px;
    padding-bottom: 10px;
    padding-top: 25px;
    padding-bottom: 10px;
    font-weight: 510;
    font-size: calc(8px + 1vw);
    font-family: Montserrat;
    color: black;

}

.ann_title {
    font-size: calc(15px + 2vw);
    font-weight: bold;
    font-family: Montserrat;
    color:black;
    text-align: justify;
}
.ann_date {
    font-size: calc(8px +  0.5vw);
    font-family: Montserrat;
    color:black;

}
.ann_description {
    font-size: calc(8px + 1vw);
    font-family: Montserrat;
    color: black;
    text-align: justify;
}

.ann_line {
    border: 1px solid #000000;

}


@media only screen and (max-width: 800px) {
    .announcement_header-ann{
        font-size: 3rem;
    }
    .ann_image {
        width: 60px;
        height: 60px;
        border-radius: 20px;
    }
    .ann_image-con {
        flex-direction:column ;
        align-items: center;
    }
    .ann_by{
        padding-top: 5px;
    }
    .announcement_header {
        align-self: center;
        padding-left: 0px;
    }
    .ann_sphere3 {
        left: 100.86px;
        top: 500.95px;
    }
    .ann_sphere4 {
        top: 800px;
        right :1px;
    }
    .ann_sphere5 {
        display: none;
    }
}

@media only screen and (min-width: 801px) and (max-width: 1024px) {
    .ann_image {
        width: 72px;
        height: 72px;
        border-radius: 20px;
    }
    .announcement_header {
        align-self: center;
        padding-left: 0px;
    }
    .ann_sphere4 {
        top: 800px;
        left: 400px;
    }
    .ann_sphere5 {
        top: 750px;
        left: 700px;
    }
}