@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Inter:wght@400;600&family=Roboto&display=swap');
.announcement_main{
    /* background: url("/home/sleep/Rotaract/frontend/src/background/Nebula.jpg"); */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    overflow-y: hidden;
    min-height: 100vh;
    min-width: 100vw;
}

.announcement_header{
    font-family: Bebas Neue;
    font-style: normal;
    font-weight: 400;
    text-transform: capitalize;
    font-size: calc(12px + 6vw);
    padding-left: 30px;
}

.announcement-con {
    background: rgba(173, 215, 242, 0.3);
    backdrop-filter: blur(10px);
    border-radius: calc(5px + 2vw);
    margin-left: 20px;
    margin-right: 20px;
    display: flex;
    flex-direction: column;

}

.announcement {
    padding-left: 20px;
    padding-top: 20px;
    padding-right: 20px;

}

.ann_image-con {
    display: flex;
    flex-direction: row;

}

.ann_image{
    width: 84px;
    height: 84px;
    border-radius: 20px;
    padding-left: 10px;
    padding-bottom: 10px;
    padding-top: 10px;
    padding-bottom: 10px;

}

.ann_by {
    padding-left: 10px;
    padding-bottom: 10px;
    padding-top: 25px;
    padding-bottom: 10px;
    font-weight: 510;
    font-size: calc(8px + 1vw);
    font-family: Inter;

}

.ann_title {
    font-size: calc(15px + 2vw);
    font-weight: bold;
    font-family: Inter;

}
.ann_date {
    font-size: calc(8px +  0.5vw);
    font-family: Inter;

}
.ann_description {
    font-size: calc(8px + 1vw);
    font-family: Inter;

}

.ann_line {
    border: 1px solid #000000;

}


@media only screen and (max-width: 800px) {
    .ann_image {
        width: 60px;
        height: 60px;
        border-radius: 20px;
    }
    .ann_image-con {
        flex-direction:column ;
        align-items: center;
    }
    .ann_by{
        padding-top: 5px;
    }
    .announcement_header {
        align-self: center;
        padding-left: 0px;
    }
    .ann_sphere3 {
        left: 100.86px;
        top: 500.95px;
    }
    .ann_sphere4 {
        top: 800px;
        right :1px;
    }
    .ann_sphere5 {
        display: none;
    }
}

@media only screen and (min-width: 801px) and (max-width: 1024px) {
    .ann_image {
        width: 72px;
        height: 72px;
        border-radius: 20px;
    }
    .announcement_header {
        align-self: center;
        padding-left: 0px;
    }
    .ann_sphere4 {
        top: 800px;
        left: 400px;
    }
    .ann_sphere5 {
        top: 750px;
        left: 700px;
    }
}