@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

.event_main{
    /* background:linear-gradient(3.97deg, #0066FF 2.93%, #000917 96.58%) fixed; */
    min-width: 100vw;
    min-height: 100vh;    
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}   

.evnt_main_con{
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    justify-content: space-evenly;
}

.card:hover{
    transform: scale(1.05);
    box-shadow: 0px 15px 10px rgba(255, 255, 255, 0.1);
    transition: 300ms ease-in;
    background-color: rgba(255, 255, 255, 0.20)
}

.event_img{
    max-height: 300px;
    width: 100%;
    background: #000917;
    border-radius: clamp(10px,25px,30px);
    object-fit: fill;
}
.eventpage_title{
    font-weight: 600;
    text-align: left;
    align-self: flex-start;
    font-size: 1.7rem;
    margin-top: 0.5vw;
    margin-bottom: 0.2vw;
    color:rgb(236, 118, 22);
}

    



.wrapper header h1{
    font-size: 80px;
    color: white;
    margin-top: 0.1vw;
    margin-bottom: 0.2vw;
}

    
.wrapper{
    padding: 5px;
    max-width: 960px;
    width: 95%;
    margin: 20px auto;
    
}

.wrapper header{
    padding: 0 15px;
    text-align: center;
    font-size: 100px;
}

.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap:25px
}


.card{
    padding: 15px;
    background-color: rgba(255, 255, 255, 0.18);
    border: rgba(186,186,186,0.4) solid 1.5px;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    width: 20vw;
}
.description-event{
    height: 290px;
    overflow: hidden;
    color: white;
    -webkit-text-stroke: 0.5px navy;
}

.event_img{
    width: 100%;
}

@media only screen and (max-width: 800px){
    .event_header{
        font-size: 4rem;
    }
    .event{
        width: 90%;
    }
    .card{
        width: 35vw;
    }
    .container{
        justify-content: center;
    }
    
} 

@media only screen and (max-width: 420px){
    .card{
        width: 80vw;
    }
    .container{
        justify-content: center;
    }
}