.Home_main {
  min-height: 100vh;
  min-width: 100vw;
  overflow-x: hidden;
  background: linear-gradient(
      180deg,
      #000917 16.45%,
      #0066ff 59.8%,
      #add7f2 100%
    ),
    fixed;
  /* background-image: url('../imgs/background_image.jpeg'); */
  /* background-color: #000917; */
}
.earth_div {
  height: 720px;
}
.earth_image {
  /* position: absolute; */
  width: 100%;
  height: 720px;
  object-fit: cover;
}

.universe1_div {
  height: 720px;
}
.test_drive {
  z-index: 99;
}
.universe1_image {
  width: 100%;
  height: 720px;
}

.first_container {
  position: absolute;
  width: 85vw;
  background: rgba(173, 215, 242, 0.3);
  backdrop-filter: blur(10px);
  border-radius: 25px;
  z-index: 99;
  top: 35vw;
  left: 50%;
  align-content: center;
  transform: translateX(-50%);
}
.container_header h1 {
  padding: 20px 20px 0 20px;
  font-family: Helvetica;
  font-style: normal;
  font-weight: bold;
  font-size: 2.25rem;
  line-height: 41px;
  text-transform: capitalize;

  color: #ffffff;
}
.container_content h2 {
  padding: 1vw 1vw 1vw 1vw;
  font-family: Helvetica;
  font-style: normal;
  font-weight: normal;
  font-size: 1.125rem;
  line-height: 21px;
  text-transform: capitalize;

  color: #ffffff;
}

.universe_2_div,
.universe_3_div,
.universe_4_div {
  /* display: flex; */
  /* min-width: 100vw; */
  height: 720px;
}

.universe_2_image,
.universe1_image,
.earth_image .universe_3_image,
.universe_4_image {
  width: 100%;
  height: 720px;
  mix-blend-mode: lighten;
}

.second_container {
  position: absolute;
  width: 85vw;
  background-color: transparent;
  color: white;
  top: 76vw;
  left: 50%;
  align-content: center;
  transform: translateX(-50%);
  z-index: 99;
}
.moon_div {
  position: absolute;
  top: 135vw;
  right: 0;
  z-index: 30;
}
/* .moon_image{
  opacity: 0.6;
  filter: drop-shadow(0px 0px 106px rgba(173, 215, 242, 0.7));
  transform: rotate(152.24deg);
  height: 1vw;
} */
.title_header_1 {
  display: flex;
  justify-content: center;
  margin-bottom: 4vw;
}

.title_header_1 h1 {
  font-family: Bebas Neue;
  font-style: normal;
  font-weight: normal;
  font-size: 4rem;
  line-height: 77px;
  /* identical to box height */

  text-align: center;
  letter-spacing: 0.15em;
  text-transform: capitalize;

  color: #add7f2;
}

.row_1,
.row_2 {
  display: flex;
  justify-content: space-evenly;
  align-content: center;
}
.row_3 {
  display: flex;
  justify-content: space-between;
  align-content: center;
}

.row_1_content,
.row_2_content1,
.row_2_content2,
.row_3_content1,
.row_3_content2,
.row_3_content3 {
  display: flex;
  margin-top: 4vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
}

.row_1_image1,
.row_2_image1,
.row_2_image2,
.row_3_image1,
.row_3_image2,
.row_3_image3 {
  width: 9vw;
  height: 8vw;
  /* z-index: 99; */
  border-radius: 50%;
}

.row_1_content1_Name h1,
.row_2_content1_Name h1,
.row_2_content2_Name h1,
.row_3_content1_Name h1,
.row_3_content2_Name h1,
.row_3_content3_Name h1 {
  font-family: Helvetica;
  font-style: normal;
  font-weight: bold;
  font-size: 2rem;
  line-height: 37px;
  /* identical to box height */

  text-align: center;
  text-transform: capitalize;

  color: white;
}

.row_1_content1_position h2,
.row_2_content1_position h2,
.row_2_content2_position h2,
.row_3_content1_position h2,
.row_3_content2_position h2,
.row_3_content3_position h2 {
  font-family: Helvetica;
  font-style: normal;
  font-weight: normal;
  font-size: 1rem;
  line-height: 24px;
  /* identical to box height */

  text-align: center;
  text-transform: capitalize;

  color: #ffffff;
}
.home_announcement {
  position: absolute;
  width: 85vw;
  background-color: transparent;
  color: white;
  top: 157vw;
  left: 50%;
  align-content: center;
  transform: translateX(-50%);
  z-index: 99;
  /* display: ; */
}
.annoncement_header h1 {
  font-family: Bebas Neue;
  font-style: normal;
  font-weight: normal;
  font-size: 4rem;
  line-height: 77px;
  /* padding: 50px 50px 50px 50px;   */
  /* identical to box height */

  letter-spacing: 0.05em;
  text-transform: capitalize;

  color: #add7f2;
}

.announcement_container {
  background: rgba(94, 141, 170, 0.3);
  backdrop-filter: blur(10px);
  border-radius: 25px;
  height: max-content;
  /* margin-left: 20px; */
  /* margin-right: 20px; */

  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  /* align-items: center; */
}

.announcement_content_1 {
  /* margin-left: 100px; */
  /* margin-right: 100px; */
  display: flex;
  /* background-color: red; */
  flex-direction: column;
  justify-content: space-between;
  gap: 10px;
  height: max-content;
  /* margin: 10px 0 0 0; */
}
.content1_header {
  display: flex;
  flex-direction: row;
  /* margin-left: 100px; */
  /* justify-content: center; */
  align-items: center;
}
/* .content1_div {
  width: 90px;
  height: 90px;
  display: flex;
  justify-content: center;
} */
.content1_image {
  width: 5vw;
  height: 5vw;
  /* z-index: 99; */
  border-radius: 50%;
}
.content1_name {
  margin-left: 1vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: Helvetica;
  font-style: bold;
  font-weight: normal;
  /* margin-left: 10px; */
  font-size: 1.5rem;
  line-height: 28px;
  text-transform: capitalize;

  color: #000917;
}
.content1_name_position {
  font-size: 1.65rem;
}
.content1_message h1 {
  font-family: Helvetica;
  font-style: normal;
  font-weight: normal;
  font-size: 3rem;
  line-height: 55px;
  text-transform: capitalize;

  color: #000917;
}
.content1_date {
  font-family: Helvetica;
  font-style: normal;
  font-weight: normal;
  font-size: 0.8rem;
  line-height: 16px;
  /* identical to box height */

  text-transform: capitalize;

  color: #000917;
}

.hr1 {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid black;
  margin: 1em 0;
  padding: 0;
}

.for_padding {
  margin: 1vw 1vw 1vw 2vw;
}

/*  ------------------ Team ------------------------*/
.team_info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 2vw;
}

.team_info_header {
  display: flex;
  justify-content: center;

  /* margin-top: 20px; */
}
.team_info_header h1 {
  font-family: Bebas Neue;
  font-style: normal;
  font-weight: normal;
  font-size: 4.5rem;
  line-height: 86px;
  text-align: center;
  letter-spacing: 0.15em;
  text-transform: capitalize;

  color: #ffffff;
}

.team_info_search {
  display: flex;
  justify-content: center;
  margin-bottom: 12vw;
  /* width: 100vw; */
  /* align-content: center; */
  /* align-items: center; */
}
.team_info_input {
  border-radius: 20%;
  width: 90%;
  height: 100%;
}

.team_info_more {
  margin-top: 1vw;
  margin-bottom: 3vw;
  font-family: Helvetica;
  font-style: normal;
  font-weight: normal;
  font-size: 1.25rem;
  line-height: 41px;
  text-align: center;
  text-transform: capitalize;
  display: flex;
  justify-content: center;
  color: black;
}

.team_info_detail {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.team_info_1,
.team_info_2,
.team_info_3 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.team_info_image {
  width: 10vw;
  height: 10vw;
  /* z-index: 99; */
  border-radius: 50%;
}

.team_info_search {
  width: 100%;
  display: flex;

  align-content: center;
  align-items: center;
  justify-content: center;
}
.homepage_leader_inputfield {
  display: flex;
  width: 60vw;
}

.homepage_events {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  position: absolute;
  width: 85vw;
  background-color: transparent;
  color: white;
  top: 235vw;
  left: 50%;
  align-content: center;
  transform: translateX(-50%);
  z-index: 99;
}
.home_event_header {
  font-family: Bebas Neue;
  font-style: normal;
  font-weight: normal;
  font-size: 4rem;
  line-height: 77px;
  /* identical to box height */

  text-align: center;
  letter-spacing: 0.15em;
  text-transform: capitalize;

  color: #add7f2;
}

.event_container_1,
.event_container_2,
.event_container_3 {
  display: flex;
  /* width: 352px; */
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border-radius: 25px;
  width: 23vw;
  height: max-content;
  background: #add7f280;
  backdrop-filter: blur(27px);
  padding: 2vw 1vw 1vw 1vw;
  /* margin:   1vw 1vw 1vw 1vw; */
  margin-top: 2.5vw;
}

.event_container_1:hover,
.event_container_2:hover,
.event_container_3:hover {
  transform: scale(1.08);
  /* scale: ; */
}

.home_event_container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 90vw;
}

.event_title,
.event_title_2,
.event_title_3 {
  font-family: Helvetica;
  font-style: normal;
  font-weight: normal;
  font-size: 2.25rem;
  line-height: 41px;
  text-transform: capitalize;

  color: #ffffff;
}
.event_container_1_content,
.event_container_2_content,
.event_container_3_content {
  font-family: Helvetica;
  font-style: normal;
  font-weight: normal;
  font-size: 1.125rem;
  line-height: 21px;
  text-transform: capitalize;

  color: #ffffff;
}

.event_container_1_image_div,
.event_container_2_image_div,
.event_container_3_image_div {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 18vw;
  height: 18vw;
  /* left: 21px; */
  /* top: 21px; */

  background: #000917;
  border-radius: 25px;
}

.home_leaderboard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-content: center; */
  align-items: center;
  /* width: 30vw; */
  margin-bottom: 10vw;
}
.leaderboard_h {
  margin-bottom: 5vw;
}

.leaderboard_h h1 {
  font-family: Bebas Neue;
  font-style: normal;
  font-weight: normal;
  font-size: 4rem;
  line-height: 77px;
  /* identical to box height */

  text-align: center;
  letter-spacing: 0.15em;
  text-transform: capitalize;

  color: #add7f2;
}
.leaderboard_bar {
  display: flex;
  height: 42vw;
  justify-content: center;
  align-items: flex-end;
  align-content: center;
  flex-direction: row;
  gap: 8vw;
  /* justify-content: space-evenly; */
  width: 100%;
  margin-bottom: 1vw;
}

.leaderboard_bar_1 {
  background: linear-gradient(180deg, #000917 0%, rgba(0, 9, 23, 0) 100%);
  width: 9vw;
  height: 23vw;
  display: flex;
  flex-direction: column;
  /* justify-content: space-evenly; */
  align-items: center;
}
.leaderboard_bar_2 {
  background: linear-gradient(180deg, #000917 0%, rgba(0, 9, 23, 0) 100%);
  width: 9vw;
  height: 28vw;
  display: flex;
  flex-direction: column;
  /* justify-content: space-evenly; */
  align-items: center;
}
.leaderboard_bar_3 {
  background: linear-gradient(180deg, #000917 0%, rgba(0, 9, 23, 0) 100%);
  width: 9vw;
  height: 43vw;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
}
.leaderboard_bar_4 {
  background: linear-gradient(180deg, #000917 0%, rgba(0, 9, 23, 0) 100%);
  width: 9vw;
  height: 38vw;
  display: flex;
  flex-direction: column;
  /* justify-content: space-around; */
  align-items: center;
}
.leaderboard_bar_5 {
  background: linear-gradient(180deg, #000917 0%, rgba(0, 9, 23, 0) 100%);
  width: 9vw;
  height: 33vw;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
}

/* .bar_1_name{
  height: ;
} */
.bar_1_name h2,
.bar_2_name h2,
.bar_3_name h2,
.bar_4_name h2,
.bar_5_name h2 {
  margin-top: 3vw;
  font-family: Bebas Neue;
  font-style: normal;
  font-weight: normal;
  /* font-size: 3rem; */

  /* line-height: 43vw; */
  /* identical to box height */

  text-align: center;
  letter-spacing: 0.15em;
  text-transform: capitalize;

  color: #ffffff;

  transform: rotate(90deg);
}

.bar_image_div_1 {
  margin-top: 1.5vw;
  border-radius: 50%;
  background-color: #0a1860;
  height: 7vw;
  width: 7vw;
  align-items: center;
  display: flex;
  justify-content: center;
}
.bar_image_div_2 {
  margin-top: 1.5vw;
  border-radius: 50%;
  background-color: #225727;
  height: 7vw;
  width: 7vw;
  align-items: center;
  display: flex;
  justify-content: center;
}
.bar_image_div_3 {
  margin-top: 1.5vw;
  border-radius: 50%;
  background-color: #ff2020;
  height: 7vw;
  width: 7vw;
  align-items: center;
  display: flex;
  justify-content: center;
}
.bar_image_div_4 {
  margin-top: 1.5vw;
  border-radius: 50%;
  background-color: #224957;
  height: 7vw;
  width: 7vw;
  align-items: center;
  display: flex;
  justify-content: center;
}
.bar_image_div_5 {
  margin-top: 1vw;
  border-radius: 50%;
  background-color: yellow;
  width: 7vw;
  align-items: center;
  display: flex;
  justify-content: center;
}

/* .leaderboard_switch{ */

/* } */

.leader_button-group {
  /* margin-left: 1vw; */
  margin-bottom: 1vw;
  width: 100%;
  height: max-content;
  background: rgba(173, 215, 242, 0.7);
  backdrop-filter: blur(8px);
  border-radius: 50px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  align-content: center;
  flex-direction: row;
  /* padding-top: 20px; */
}

.leader_button-1,
.leader_button-2 {
  width: 100%;
  height: 100%;
  text-align: center;
  font-family: Helvetica;
  font-style: normal;
  font-weight: normal;
  font-size: 2.25rem;
  line-height: 41px;
  text-align: center;
  text-transform: capitalize;

  color: #000917;
  /* padding-top: 6px; */
}

.leader_button-1:hover,
.leader_button-2:hover {
  background-color: #ff5555;
  border-radius: 25px;
}

.leader_button-2:focus,
.leader_button-1:focus {
  background-color: #ff5555;
  /* border-radius: 25px; */
}

.leaderboard_more {
  font-family: Helvetica;
  font-style: normal;
  font-weight: bold;
  font-size: 2.2rem;
  /* line-height: 41px; */
  text-align: center;
  text-decoration-line: underline;
  text-transform: capitalize;

  color: #000917;
}

.leaderboard_switch {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 80%;
}

.home_registration {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 20vh;
  margin-bottom: 30vh;
}
.home_register_head {
  font-family: Bebas Neue;
  font-style: normal;
  font-weight: normal;
  font-size: 4.5rem;
  line-height: 86px;
  text-align: center;
  letter-spacing: 0.15em;
  text-transform: capitalize;

  color: #000917;
}

.home_register_button {
  background: #ff5555;
  border-radius: 10px;
  padding: 16px 40px 15px 40px;
  font-family: Helvetica;
  font-style: normal;
  font-weight: normal;
  font-size: 2.2rem;
  line-height: 41px;
  text-align: center;
  text-transform: capitalize;

  color: #000917;
}

.homepage_mention {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.mention_header {
  font-family: Bebas Neue;
  font-style: normal;
  font-weight: normal;
  font-size: 5rem;
  /* line-height: 86px; */
  text-align: center;
  letter-spacing: 0.15em;
  text-transform: capitalize;

  color: #000917;
}

.mention_content {
  display: grid;
  grid-template-columns: 5rem 2fr 2fr 2fr 5rem;
  width: 100%;
  height: 100%;
  margin-bottom: 20vh;
}

.mention_content_1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  grid-column: 2/3;
}
.mention_content_2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  grid-column: 3/4;
}
.mention_content_3 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  grid-column: 4/5;
}
.mention_content_4 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  grid-column: 2/3;
}
.mention_content_5 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  grid-column: 3/4;
}
.mention_content_6 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  grid-column: 4/5;
}

.mention_content_1_image_div,
.mention_content_2_image_div,
.mention_content_3_image_div,
.mention_content_4_image_div,
.mention_content_5_image_div,
.mention_content_6_image_div {
  height: 8vw;
  width: 8vw;

  margin-top: 10vh;
  margin-bottom: 2vh;
  background-color: bisque;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  border-radius: 130px;
}

.mention_content_1_name,
.mention_content_2_name,
.mention_content_3_name,
.mention_content_4_name,
.mention_content_5_name,
.mention_content_6_name {
  font-family: Helvetica;
  font-style: normal;
  font-weight: normal;
  font-size: 2.2rem;
  line-height: 41px;
  text-align: center;
  text-transform: capitalize;

  color: #ffffff;
}
/*  ----------------------------  Footer ---------------------------------  */
.footer {
  /* background-color; */
  background: black;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  height: 20vw;
}
.footer_div h1 {
  font-family: Helvetica;
  font-style: normal;
  font-weight: normal;
  font-size: 5rem;
  line-height: 166px;
  /* identical to box height */

  text-align: center;
  text-transform: capitalize;

  color: #ffffff;
}

/* ----------- Responsive Style Sheet ---------------------------------------*/

@media (min-width: 1420px) {
  .first_container {
    position: absolute;
    width: 85vw;
    background: rgba(173, 215, 242, 0.3);
    backdrop-filter: blur(10px);
    border-radius: 25px;
    z-index: 99;
    top: 35vw;
    left: 50%;
    height: max-content;
    align-content: center;
    transform: translateX(-50%);
  }
  .second_container {
    position: absolute;
    width: 85vw;
    background-color: transparent;
    color: white;
    top: 55vw;
    left: 50%;
    align-content: center;
    transform: translateX(-50%);
    z-index: 99;
  }
  .moon_div {
    position: absolute;
    top: 105vw;
    right: 0;
    z-index: 30;
  }

  .home_announcement {
    position: absolute;
    width: 85vw;
    background-color: transparent;
    color: white;
    top: 130vw;
    left: 50%;
    align-content: center;
    transform: translateX(-50%);
    z-index: 99;
    /* display: ; */
  }

  .homepage_events {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    position: absolute;
    width: 85vw;
    background-color: transparent;
    color: white;
    top: 200vw;
    left: 50%;
    align-content: center;
    transform: translateX(-50%);
    z-index: 99;
  }
  /* .universe_2_div{
    /* display: none; */
}
@media (min-width: 1221px) and (max-width: 1419px) {
  .first_container {
    position: absolute;
    width: 85vw;
    background: rgba(173, 215, 242, 0.3);
    backdrop-filter: blur(10px);
    border-radius: 25px;
    z-index: 99;
    top: 40 vw;
    left: 50%;
    height: max-content;
    align-content: center;
    transform: translateX(-50%);
  }
  .second_container {
    position: absolute;
    width: 85vw;
    background-color: transparent;
    color: white;
    top: 65vw;
    left: 50%;
    align-content: center;
    transform: translateX(-50%);
    z-index: 99;
  }
  .moon_div {
    position: absolute;
    top: 125vw;
    right: 0;
    z-index: 30;
  }
  .home_announcement {
    position: absolute;
    width: 85vw;
    background-color: transparent;
    color: white;
    top: 150vw;
    left: 50%;
    align-content: center;
    transform: translateX(-50%);
    z-index: 99;
    /* display: ; */
  }

  .homepage_events {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    position: absolute;
    width: 85vw;
    background-color: transparent;
    color: white;
    top: 215vw;
    left: 50%;
    align-content: center;
    transform: translateX(-50%);
    z-index: 99;
  }
  .universe_2_div {
    display: none;
  }
}
@media (min-width: 901px) and (max-width: 1020px) {
  .first_container {
    position: absolute;
    width: 85vw;
    background: rgba(173, 215, 242, 0.3);
    backdrop-filter: blur(10px);
    border-radius: 25px;
    z-index: 99;
    top: 49vw;
    left: 50%;
    height: max-content;
    align-content: center;
    transform: translateX(-50%);
  }
  .second_container {
    position: absolute;
    width: 85vw;
    background-color: transparent;
    color: white;
    top: 100vw;
    left: 50%;
    align-content: center;
    transform: translateX(-50%);
    z-index: 99;
  }
  .moon_div {
    position: absolute;
    top: 160vw;
    right: 0;
    z-index: 30;
  }
  .home_announcement {
    position: absolute;
    width: 85vw;
    background-color: transparent;
    color: white;
    top: 187vw;
    left: 50%;
    align-content: center;
    transform: translateX(-50%);
    z-index: 99;
    /* display: ; */
  }

  .homepage_events {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    position: absolute;
    width: 85vw;
    background-color: transparent;
    color: white;
    top: 280vw;
    left: 50%;
    align-content: center;
    transform: translateX(-50%);
    z-index: 99;
  }
  .universe_2_div {
    display: none;
  }
}

@media (min-width: 781px) and (max-width: 900px) {
  .home_registration {
    margin-bottom: 20vw;
  }
  .bar_1_name h2 {
  }
  .mention_content {
    margin-bottom: 15vw;
  }
  .first_container {
    position: absolute;
    width: 85vw;
    background: rgba(173, 215, 242, 0.3);
    backdrop-filter: blur(10px);
    border-radius: 25px;
    z-index: 99;
    top: 55vw;
    left: 50%;
    height: max-content;
    align-content: center;
    transform: translateX(-50%);
  }
  .second_container {
    position: absolute;
    width: 85vw;
    background-color: transparent;
    color: white;
    top: 123vw;
    left: 50%;
    align-content: center;
    transform: translateX(-50%);
    z-index: 99;
  }
  .moon_div {
    position: absolute;
    top: 185vw;
    right: 0;
    z-index: 30;
  }
  .home_announcement {
    position: absolute;
    width: 85vw;
    background-color: transparent;
    color: white;
    top: 223vw;
    left: 50%;
    align-content: center;
    transform: translateX(-50%);
    z-index: 99;
    /* display: ; */
  }

  .homepage_events {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    position: absolute;
    width: 85vw;
    background-color: transparent;
    color: white;
    top: 323vw;
    left: 50%;
    align-content: center;
    transform: translateX(-50%);
    z-index: 99;
  }
  .universe_2_div {
    display: none;
  }

  .event_container_1,
  .event_container_2,
  .event_container_3 {
    display: flex;
    /* width: 352px; */
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border-radius: 25px;
    /* width: max-content; */
    height: max-content;
    background: #add7f280;
    backdrop-filter: blur(27px);
    padding: 2vw 1vw 1vw 1;
    /* margin:   1vw 1vw 1vw 1vw; */
    margin-top: 2.5vw;
  }
}

@media (min-width: 701px) and (max-width: 780px) {
  .mention_header {
    font-size: 3.6rem;
  }
  .home_register_head {
    font-size: 3.6rem;
  }
  .moon_div {
    display: none;
  }
  .bar_1_name h2 {
    font-size: auto;
  }

  .universe_4_div {
    display: none;
  }
  .home_registration {
    margin-bottom: 15vw;
  }
  .mention_content {
    margin-bottom: 10vw;
  }

  .first_container {
    position: absolute;
    width: 85vw;
    background: rgba(173, 215, 242, 0.3);
    backdrop-filter: blur(10px);
    border-radius: 25px;
    z-index: 99;
    top: 55vw;
    left: 50%;
    height: max-content;
    align-content: center;
    transform: translateX(-50%);
  }
  .second_container {
    position: absolute;
    width: 85vw;
    background-color: transparent;
    color: white;
    top: 133vw;
    left: 50%;
    align-content: center;
    transform: translateX(-50%);
    z-index: 99;
  }
  .moon_div {
    position: absolute;
    top: 187vw;
    right: 0;
    z-index: 30;
    /* height: max-content; */
    /* width: max-content; */
  }
  /* .moon_image {
    opacity: 0.6;
    filter: drop-shadow(0px 0px 106px rgba(173, 215, 242, 0.7));
    transform: rotate(152.24deg);
    height: 1vw;
  } */
  .home_announcement {
    position: absolute;
    width: 85vw;
    background-color: transparent;
    color: white;
    top: 230vw;
    left: 50%;
    align-content: center;
    transform: translateX(-50%);
    z-index: 99;
    /* display: ; */
  }

  .homepage_events {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    position: absolute;
    width: 85vw;
    background-color: transparent;
    color: white;
    top: 308vw;
    left: 50%;
    align-content: center;
    transform: translateX(-50%);
    z-index: 99;
  }
  .universe_2_div {
    display: none;
  }

  .event_container_1,
  .event_container_2,
  .event_container_3 {
    display: flex;
    /* width: 352px; */
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border-radius: 25px;
    /* width: max-content; */
    height: max-content;
    background: #add7f280;
    backdrop-filter: blur(27px);
    padding: 2vw 1vw 1vw 1;
    /* margin:   1vw 1vw 1vw 1vw; */
    margin-top: 2.5vw;
  }
}
@media (min-width: 650px) and (max-width: 700px) {
  .mention_header {
    font-size: 3rem;
  }
  .home_register_head {
    font-size: 3rem;
  }

  .moon_div {
    display: none;
  }

  .universe_4_div {
    display: none;
  }
  .home_registration {
    margin-bottom: 20vw;
  }
  .mention_content {
    margin-bottom: 10vw;
  }

  .first_container {
    position: absolute;
    width: 85vw;
    background: rgba(173, 215, 242, 0.3);
    backdrop-filter: blur(10px);
    border-radius: 25px;
    z-index: 99;
    top: 70vw;
    left: 50%;
    height: max-content;
    align-content: center;
    transform: translateX(-50%);
  }
  .second_container {
    position: absolute;
    width: 85vw;
    background-color: transparent;
    color: white;
    top: 175vw;
    left: 50%;
    align-content: center;
    transform: translateX(-50%);
    z-index: 99;
  }
  .moon_div {
    position: absolute;
    top: 180vw;
    right: 0;
    z-index: 30;
    /* height: max-content; */
    /* width: max-content; */
  }

  .home_announcement {
    position: absolute;
    width: 85vw;
    background-color: transparent;
    color: white;
    top: 285vw;
    left: 50%;
    align-content: center;
    transform: translateX(-50%);
    z-index: 99;
    /* display: ; */
  }

  .homepage_events {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    position: absolute;
    width: 85vw;
    background-color: transparent;
    color: white;
    top: 353vw;
    left: 50%;
    align-content: center;
    transform: translateX(-50%);
    z-index: 99;
  }
  .universe_2_div {
    display: none;
  }

  .event_container_1,
  .event_container_2,
  .event_container_3 {
    display: flex;
    /* width: 352px; */
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border-radius: 25px;
    /* width: max-content; */
    height: max-content;
    background: #add7f280;
    backdrop-filter: blur(27px);
    padding: 2vw 1vw 1vw 1;
    /* margin:   1vw 1vw 1vw 1vw; */
    margin-top: 2.5vw;
  }
}

@media (min-width: 580px) and (max-width: 649px) {
  .content1_message h1 {
    font-size: 2rem;
  }

  .row_1_content1_Name h1,
  .row_2_content1_Name h1,
  .row_2_content2_Name h1,
  .row_3_content1_Name h1,
  .row_3_content2_Name h1,
  .row_3_content3_Name h1 {
    font-size: 1.5rem;
  }

  .mention_header {
    font-size: 3rem;
  }
  .home_register_head {
    font-size: 3rem;
  }
  .moon_div {
    display: none;
  }

  .universe_4_div {
    display: none;
  }
  .home_registration {
    margin-bottom: 22vw;
  }
  .mention_content {
    margin-bottom: 10vw;
  }

  .first_container {
    position: absolute;
    width: 85vw;
    background: rgba(173, 215, 242, 0.3);
    backdrop-filter: blur(10px);
    border-radius: 25px;
    z-index: 99;
    top: 90vw;
    left: 50%;
    height: max-content;
    align-content: center;
    transform: translateX(-50%);
  }
  .second_container {
    position: absolute;
    width: 85vw;
    background-color: transparent;
    color: white;
    top: 210vw;
    left: 50%;
    align-content: center;
    transform: translateX(-50%);
    z-index: 99;
  }
  .moon_div {
    position: absolute;
    top: 180vw;
    right: 0;
    z-index: 30;
    /* height: max-content; */
    /* width: max-content; */
  }

  .home_announcement {
    position: absolute;
    width: 85vw;
    background-color: transparent;
    color: white;
    top: 330vw;
    left: 50%;
    align-content: center;
    transform: translateX(-50%);
    z-index: 99;
    /* display: ; */
  }

  .homepage_events {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    position: absolute;
    width: 85vw;
    background-color: transparent;
    color: white;
    top: 460vw;
    left: 50%;
    align-content: center;
    transform: translateX(-50%);
    z-index: 99;
  }

  .home_event_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 90vw;
  }
  .universe_2_div {
    /* display: none; */
  }

  .event_container_1,
  .event_container_2,
  .event_container_3 {
    display: flex;
    /* width: 352px; */
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 25px;
    width: 40vw;
    height: max-content;
    background: #add7f280;
    backdrop-filter: blur(27px);
    padding: 2vw 1vw 1vw 1;
    /* margin:   1vw 1vw 1vw 1vw; */
    margin-top: 2.5vw;
  }
}

@media (min-width: 480px) and (max-width: 579px) {
  .team_info_header h1 {
    font-size: 3.5rem;
  }

  .mention_content {
    grid-template-columns: 2rem 2fr 2fr 2fr 2rem;
  }
  .content1_message h1 {
    font-size: 2rem;
  }

  .mention_content_1_name,
  .mention_content_2_name,
  .mention_content_3_name,
  .mention_content_4_name,
  .mention_content_5_name,
  .mention_content_6_name {
    font-size: 1.5rem;
  }

  .row_1_content1_Name h1,
  .row_2_content1_Name h1,
  .row_2_content2_Name h1,
  .row_3_content1_Name h1,
  .row_3_content2_Name h1,
  .row_3_content3_Name h1 {
    font-size: 1.5rem;
  }

  .mention_header {
    font-size: 3rem;
  }
  .home_register_head {
    font-size: 3rem;
  }

  .moon_div {
    display: none;
  }

  .universe_4_div {
    display: none;
  }
  .home_registration {
    margin-bottom: 25vw;
  }
  .mention_content {
    margin-bottom: 10vw;
  }

  .first_container {
    position: absolute;
    width: 85vw;
    background: rgba(173, 215, 242, 0.3);
    backdrop-filter: blur(10px);
    border-radius: 25px;
    z-index: 99;
    top: 90vw;
    left: 50%;
    height: max-content;
    align-content: center;
    transform: translateX(-50%);
  }
  .second_container {
    position: absolute;
    width: 85vw;
    background-color: transparent;
    color: white;
    top: 250vw;
    left: 50%;
    align-content: center;
    transform: translateX(-50%);
    z-index: 99;
  }
  .moon_div {
    position: absolute;
    top: 180vw;
    right: 0;
    z-index: 30;
    /* height: max-content; */
    /* width: max-content; */
  }

  .home_announcement {
    position: absolute;
    width: 85vw;
    background-color: transparent;
    color: white;
    top: 400vw;
    left: 50%;
    align-content: center;
    transform: translateX(-50%);
    z-index: 99;
    /* display: ; */
  }

  .home_event_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 90vw;
  }


  .event_container_1,
  .event_container_2,
  .event_container_3 {
    display: flex;
    /* width: 352px; */
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 25px;
    width: 40vw;
    height: max-content;
    background: #add7f280;
    backdrop-filter: blur(27px);
    padding: 2vw 1vw 1vw 1;
    /* margin:   1vw 1vw 1vw 1vw; */
    margin-top: 2.5vw;
  }
}

@media (min-width: 480px) and (max-width: 540px) {
  .homepage_events {
    top: 540vw;
  }
}

@media (min-width: 541px) and (max-width: 579px) {
  .homepage_events {
    top: 500vw;
  }
}

@media (min-width: 421px) and (max-width: 479px) {
  .team_info_header h1 {
    font-size: 3.5rem;
  }

  .mention_content {
    grid-template-columns: 2rem 2fr 2fr 2fr 2rem;
  }
  .content1_message h1 {
    font-size: 2rem;
  }

  .mention_content_1_name,
  .mention_content_2_name,
  .mention_content_3_name,
  .mention_content_4_name,
  .mention_content_5_name,
  .mention_content_6_name {
    font-size: 1.5rem;
  }

  .row_1_content1_Name h1,
  .row_2_content1_Name h1,
  .row_2_content2_Name h1,
  .row_3_content1_Name h1,
  .row_3_content2_Name h1,
  .row_3_content3_Name h1 {
    font-size: 1.5rem;
  }
  .annoncement_header h1 {
    font-size: 3.2rem;
  }
  .leaderboard_h h1 {
    font-size: 3.2rem;
  }
  .mention_header {
    font-size: 3rem;
  }
  .home_register_head {
    font-size: 3rem;
  }

  .moon_div {
    display: none;
  }

  .universe_4_div {
    display: none;
  }
  .home_registration {
    margin-bottom: 30vw;
  }
  .mention_content {
    margin-bottom: 20vw;
  }
  .title_header_1 h1 {
    font-size: 3.3rem;
  }

  .first_container {
    position: absolute;
    width: 85vw;
    background: rgba(173, 215, 242, 0.3);
    backdrop-filter: blur(10px);
    border-radius: 25px;
    z-index: 99;
    top: 110vw;
    left: 50%;
    height: max-content;
    align-content: center;
    transform: translateX(-50%);
  }
  .second_container {
    position: absolute;
    width: 85vw;
    background-color: transparent;
    color: white;
    top: 320vw;
    left: 50%;
    align-content: center;
    transform: translateX(-50%);
    z-index: 99;
  }
  .moon_div {
    position: absolute;
    top: 180vw;
    right: 0;
    z-index: 30;
    /* height: max-content; */
    /* width: max-content; */
  }

  .home_announcement {
    position: absolute;
    width: 85vw;
    background-color: transparent;
    color: white;
    top: 485vw;
    left: 50%;
    align-content: center;
    transform: translateX(-50%);
    z-index: 99;
    /* display: ; */
  }

  .homepage_events {
    top: 635vw;
  }

  .home_event_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 90vw;
  }

  .event_container_1,
  .event_container_2,
  .event_container_3 {
    display: flex;
    /* width: 352px; */
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 25px;
    width: 75vw;

    height: max-content;
    background: #add7f280;
    backdrop-filter: blur(27px);
    padding: 2vw 1vw 1vw 1;
    /* margin:   1vw 1vw 1vw 1vw; */
    margin-top: 10vw;
  }
  .home_register_head {
    font-size: 3rem;
  }
  .mention_header {
    font-size: 3rem;
  }
}

@media (min-width: 381px) and (max-width: 420px) {
  .team_info_header h1 {
    font-size: 3.5rem;
  }

  .mention_content {
    grid-template-columns: 2rem 2fr 2fr 2fr 2rem;
  }
  .content1_message h1 {
    font-size: 2rem;
  }

  
  .mention_content_1_name,
  .mention_content_2_name,
  .mention_content_3_name,
  .mention_content_4_name,
  .mention_content_5_name,
  .mention_content_6_name {
    font-size: 1.5rem;
  }

  .row_1_content1_Name h1,
  .row_2_content1_Name h1,
  .row_2_content2_Name h1,
  .row_3_content1_Name h1,
  .row_3_content2_Name h1,
  .row_3_content3_Name h1 {
    font-size: 1.5rem;
  }
  .annoncement_header h1 {
    font-size: 3.2rem;
  }
  .leaderboard_h h1 {
    font-size: 3.2rem;
  }
  .mention_header {
    font-size: 3rem;
  }
  .home_register_head {
    font-size: 3rem;
  }

  .moon_div {
    display: none;
  }

  .universe_4_div {
    display: none;
  }
  .home_registration {
    margin-bottom: 30vw;
  }
  .mention_content {
    margin-bottom: 20vw;
  }
  .title_header_1 h1 {
    font-size: 3.3rem;
  }

 
  .mention_content_1_name,
  .mention_content_2_name,
  .mention_content_3_name,
  .mention_content_4_name,
  .mention_content_5_name,
  .mention_content_6_name {
    font-size: 1.5rem;
  }

  .row_1_content1_Name h1,
  .row_2_content1_Name h1,
  .row_2_content2_Name h1,
  .row_3_content1_Name h1,
  .row_3_content2_Name h1,
  .row_3_content3_Name h1 {
    font-size: 1.5rem;
  }

  .mention_header {
    font-size: 3rem;
  }
  .home_register_head {
    font-size: 3rem;
  }

  .moon_div {
    display: none;
  }

  .universe_4_div {
    display: none;
  }
  .home_registration {
    margin-bottom: 30vw;
  }
  .mention_content {
    margin-bottom: 20vw;
  }

  .first_container {
    position: absolute;
    width: 85vw;
    background: rgba(173, 215, 242, 0.3);
    backdrop-filter: blur(10px);
    border-radius: 25px;
    z-index: 99;
    top: 110vw;
    left: 50%;
    height: max-content;
    align-content: center;
    transform: translateX(-50%);
  }
  .second_container {
    position: absolute;
    width: 85vw;
    background-color: transparent;
    color: white;
    top: 295vw;
    left: 50%;
    align-content: center;
    transform: translateX(-50%);
    z-index: 99;
  }
  .moon_div {
    position: absolute;
    top: 180vw;
    right: 0;
    z-index: 30;
    /* height: max-content; */
    /* width: max-content; */
  }

  .home_announcement {
    position: absolute;
    width: 85vw;
    background-color: transparent;
    color: white;
    top: 460vw;
    left: 50%;
    align-content: center;
    transform: translateX(-50%);
    z-index: 99;
    /* display: ; */
  }

  .homepage_events {
    top: 650vw;
  }

  .home_event_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 90vw;
  }
  .event_container_1,
  .event_container_2,
  .event_container_3 {
    display: flex;
    /* width: 352px; */
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 25px;
    width: 75vw;

    height: max-content;
    background: #add7f280;
    backdrop-filter: blur(27px);
    padding: 2vw 1vw 1vw 1;
    /* margin:   1vw 1vw 1vw 1vw; */
    margin-top: 10vw;
  }
  .home_register_head {
    font-size: 3rem;
  }
  .mention_header {
    font-size: 3rem;
  }
}

@media (max-width: 380px) {
  .moon_div {
    display: none;
  }

  .universe_4_div {
    display: none;
  }
  .home_registration {
    margin-bottom: 55vw;
  }
  .mention_content {
    margin-bottom: 20vw;
  }

  .first_container {
    position: absolute;
    width: 85vw;
    background: rgba(173, 215, 242, 0.3);
    backdrop-filter: blur(10px);
    border-radius: 25px;
    z-index: 99;
    top: 110vw;
    left: 50%;
    height: max-content;
    align-content: center;
    transform: translateX(-50%);
  }
  .second_container {
    position: absolute;
    width: 85vw;
    background-color: transparent;
    color: white;
    top: 340vw;
    left: 50%;
    align-content: center;
    transform: translateX(-50%);
    z-index: 99;
  }
  .moon_div {
    position: absolute;
    top: 180vw;
    right: 0;
    z-index: 30;
    /* height: max-content; */
    /* width: max-content; */
  }

  .home_announcement {
    position: absolute;
    width: 85vw;
    background-color: transparent;
    color: white;
    top: 500vw;
    left: 50%;
    align-content: center;
    transform: translateX(-50%);
    z-index: 99;
    /* display: ; */
  }

  .homepage_events {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    position: absolute;
    width: 85vw;
    background-color: transparent;
    color: white;
    top: 740vw;
    left: 50%;
    align-content: center;
    transform: translateX(-50%);
    z-index: 99;
  }

  .home_event_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 90vw;
  }
  

  .event_container_1,
  .event_container_2,
  .event_container_3 {
    display: flex;
    /* width: 352px; */
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 25px;
    width: 75vw;

    height: max-content;
    background: #add7f280;
    backdrop-filter: blur(27px);
    padding: 2vw 1vw 1vw 1;
    /* margin:   1vw 1vw 1vw 1vw; */
    margin-top: 10vw;
  }
  .home_register_head {
    font-size: 3rem;
  }
  .mention_header {
    font-size: 3rem;
  }
}
