.jayteam_main{
    min-height: 100vh;
    min-width: 100vw;
    background:linear-gradient(186.37deg, #000917 14.88%, #0066FF 82.38%, #ADD7F2 141.93%) fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: space-between; */
}
.jayteam_hdr h1{
    color: #FFFFFF;
    font-size: 3.5rem;
    align-self: flex-end;
    margin-bottom: 2%;
}
.jayteam_hdr{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
}
.jayteam_main img{
    width:20%;
}
.jayteam_tmbtn{
    width: 90%;
    background: linear-gradient(90deg, #20DF7F 0%, #0066FF 166.88%);
    text-align: center;
    height: 6vh;
    border-radius: 10px;
    font-size: 1.2rem;
    color: #000917;
    padding-top: 3px;
    margin-bottom: 15px;
}
.jayteam_main input{
    width: 90%;
    height: 6vh;
    outline: none;
    border: none;
    border-radius: 10px;
    text-indent: 10px;
    background-color: rgba(173, 215, 242, 0.3);
    color: #000917;
    font-size: 1.2rem;
    margin: 15px 0 15px 0;
}
.jayteam_main input:hover{
    background-color: rgba(173, 215, 242, 0.6);
    transition: 300ms ease-in;
}
.jayteam_main input:focus{
    background-color: rgba(173, 215, 242, 0.6);
    transition: 300ms ease-in;
}
.jayteam_main input::placeholder{
    color: #000917;
    opacity: 5;
}
.jayteam_main h5{
    color: #000917;
    font-size: 1.2rem;
    margin: 15px 0 15px 0;
}
.jayteam_main button{
    border: none;
    width: 90%;
    height: 6vh;
    font-size: 1.2rem;
    color: #000917;
    background: #20DF7F;
    border-radius: 10px;
    margin: 10px;
}
.jayteam_main button:hover{
    background: #23ff91;
    transition: 300ms ease-in;
}