@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Inter:wght@400;600&family=Roboto&display=swap");

.leader_main {
  background-color: white;
  min-height: 100vh;
  min-width: 100vw;
  display: flex;
  justify-content: stretch;
  align-items: stretch;
  flex-direction: column;
  background: linear-gradient(180deg, #000917 22.63%, #0066ff 172.32%);
}

.leader_header {
  border-radius: 0px 0px 25px 25px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.leader_rotLogo {
  align-self: flex-start;
}
.leader_rotLogo-image {
  width: calc(67px + 2vw);
  height: calc(67px + 2vw);
}

.leader_leader-board {
  background-color: blue;
  flex-grow: 1;
}

.leader_title {
  margin-top: 3vw;
  font-family: Bebas Neue;
  font-style: normal;
  font-weight: normal;
  font-size: calc(20px + 6vw);
  -webkit-text-stroke: 1.2px black;
  line-height: 115px;
  text-transform: capitalize;
  z-index: +1;
  color: #add7f2;
}

.leader_Mantaintext {
  font-size: 1.6rem;
  -webkit-text-stroke: 0.5px black;
  font-family: Inter;
  color: #add7f2;
  z-index: +1;
  text-align: center;
  font-style: normal;
  font-weight: normal;
  text-transform: capitalize;
}

.leader_button-username {
  margin-bottom: 1vw;
  margin-top: 5vw;
  width: 100%;
  display: grid;
  flex-direction: row;
  /* justify-content: space-between; */
  align-items: center;
  grid-template-columns: 1rem 2fr 4fr 2fr 1rem;
}

.leader-button-toggle {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  grid-column: 2/3;
}

.leader_button_group {
  width: calc(150px + 15vw);
  height: 36px;
  background: rgba(173, 215, 242, 0.7);
  backdrop-filter: blur(8px);
  border-radius: 50px;
  padding: 5px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row;
}

.leader_button_1 {
  width: 100%;
  height: 100%;
  text-align: center;
  font-family: Helvetica;
  font-style: normal;
  font-weight: normal;
  font-size: 1.5rem;
  line-height: 28px;
  text-transform: capitalize;
  color: #000917;
}

.leader_button_2 {
  width: 100%;
  height: 100%;
  text-align: center;
  font-family: Helvetica;
  font-style: normal;
  font-weight: normal;
  font-size: 1.5rem;
  line-height: 28px;
  text-transform: capitalize;

  color: #000917;
}

.leader_button_1:hover {
  background-color: #ff5555;
  border-radius: 25px;
}

.leader_button_2:hover {
  background-color: #ff5555;
  border-radius: 25px;
}

.leader_username-input {
  grid-column: 4/5;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: calc(5px + 1vw);
  line-height: 28px;
}

.input-group > .form-control,
.input-group > .form-select {
  flex: 1 1 auto;
  height: 36px;
  background: rgba(173, 215, 242, 0.7);
  box-shadow: 0px 0px 10px 7px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(8px);
  border-radius: 50px;
}

.leader_list-container {
  flex-grow: 2.5;
}

.leader_list-group {
  width: 100vw;
  height: 100%;
  padding: 10px;
  background-color: white;
  z-index: +1;
  border-radius: 25px 25px 0 0;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  backdrop-filter: blur(10px);
  /* flex-wrap: wrap; */
}

.leader-row-all-1:hover,
.leader-row-all-2:hover,
.leader-row-all-3:hover,
.leader-row-all-4:hover,
.leader-row-all-5:hover,
.leader-row-all-6:hover {
  transform: scale(1.05);
  background: rgba(173, 215, 242, 0.7);
  box-shadow: 0px 0px 10px 7px rgba(0, 0, 0, 0.1);
}
.leader-row-all-1,
.leader-row-all-2,
.leader-row-all-3,
.leader-row-all-4,
.leader-row-all-5,
.leader-row-all-6 {
  margin: 10px;
  padding: 15px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 99%;
  border-radius: 25px;
  /* height: 10px; */
  align-content: center;
  background-color: rgba(173, 215, 242, 0.3);
}
.leader-data-div {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
  width: 50vw;
}
.leader_list-group-score {
  margin-right: 13px;
}
.leader_footer {
  z-index: +1;
  background: #000917;
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.leader_footer-text {
  align-self: center;
  font-family: Bebas Neue;
  font-size: calc(20px + 6vw);
  font-weight: normal;
  line-height: 115px;
  text-transform: capitalize;
  color: #add7f2;
}
.leader_list-group-number,
.leader_list-group-team,
.leader_list-group-name,
.leader_list-group-score {
  font-size: 1.2rem;
}

/* -------------------------------------- Responsive Style Code ----------   */

@media (max-width: 1024px) {
  .leader_list-group-number,
  .leader_list-group-team,
  .leader_list-group-name,
  .leader_list-group-score {
    font-size: 1rem;
  }
  .leader_search {
    width: 25vw;
  }
  .leader_title {
    font-size: 3.5rem;
  }
  .leader_Mantaintext {
    font-size: 1rem;
  }
}
@media (max-width: 550px) {
  .leader_button-username {
    grid-template-columns: 1rem 2fr 1rem;
  }
  .leader-button-toggle {
    grid-column: 2/3;
  }
  .leader_username-input {
    grid-column: 2/3;
  }
  .leader_button_group {
    width: 85vw;
  }
  .leader_search {
    width: 60vw;
    margin-top: 3vw;
    /* padding: 10px; */
  }
  .leader-data-div {
    width: 70vw;
  }
  .leader_list-group-number,
  .leader_list-group-team,
  .leader_list-group-name,
  .leader_list-group-score {
    font-size: 0.8rem;
  }
}

@media (max-width: 420px) {
  .leader_list-group-number,
  .leader_list-group-team,
  .leader_list-group-name,
  .leader_list-group-score {
    font-size: 0.5rem;
  }
  .leader_list-group-name {
    display: none;
  }
  .leader_title {
    font-size: 2.7rem;
    line-height: normal;
    margin-top: 8vw;
  }
  .leader_Mantaintext {
    font-size: 0.65rem;
  }
  .leader-data-div {
    /* width: 70vw; */
    text-align: center;
  }
}
