.main-11{
    background: linear-gradient(180deg, #000917 0%, #0066FF 100%);
    
    /* min-width: 100vw; */
    overflow: hidden; 
    min-height: 100vh;
}
.landing-header{
    padding: relative;
    background:url("https://lh3.googleusercontent.com/jrFgmSyruq0DQzg8xzRQTwq4uMNIJeyCw-__FmLY8SVH78grLRMPXVEd12vTf11wl2klC2QBo_zSGRvrp4K4IC0doBWXKGdVhNLhzCv9iTglMjjJ-GzHAQeWB6LOF0D0dk3_IxYQ=w2400") no-repeat ;
    mix-blend-mode: lighten;
    background-size: cover;
    /* background-repeat: no-repeat; */
    background-position: center;
    /* background-attachment: fixed; */
    width: 100vw;
    height: 70vh;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    flex-direction: column;
}
.landing-bg-astro{
    width: 100vw;
    position: fixed;
}
.landing-header h1{
    margin-top: 10vw;
    font-size: 5vw;
    color: white;
}
.member-landing_search{
    /* position: absolute; */
    
    width: 70vw;
    margin-top: 10vw;
}
.landing-containers{
    /* background-color: grey; */
    display: flex;
    flex-wrap: wrap;
    width: 100vw;
    justify-content: center;
    padding: 5px;
}
.member-div-1 {
    margin: 10px;
    width: 15vw;
    height: 20vw;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    /* width: max-content; */
    align-items: center;
    /* background-color: red ; */
}
.member-div-1-image{
    border-radius: 50%;
    height: 8vw;
    width: 8vw;
    margin-top: 5px;
}

.member-div-1 a{
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    
}
.member-div-1-name{
    font-size: 1.7vw;
    padding: 5px;
    font-family: Montserrat;
font-style: normal;
font-weight: bold;
/* font-size: 36px; */
/* line-height: 44px; */
text-align: center;
text-transform: capitalize;

color: #FFFFFF;
}
.member-div-1-status{
    font-size: 1.2vw;
    font-family: Montserrat;
font-style: normal;
font-weight: bold;
/* font-size: 36px; */
/* line-height: 44px; */
text-align: center;
text-transform: capitalize;

color: #FFFFFF;
}