.wlcmjay_main{
    background: linear-gradient(186.37deg, #000917 14.88%, #0066FF 82.38%, #ADD7F2 141.93%);
    min-width: 100vw;
    min-height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.wlcmjay_hdr h1{
    color: #FFFFFF;
    font-size: 3.5rem;
    align-self: flex-end;
    margin-bottom: 2%;
}
.wlcmjay_hdr{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
}
.wlcmjay_main img{
    width:20%;
}
.wlcm_btn{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
}
.wlcmjay_main button{
    border: none;
    width: inherit;
    height: 6vh;
    font-size: 1.2rem;
    color: #000917;
    border-radius: 10px;
    margin: 10px;
}
.team_btn{
    background: linear-gradient(90deg, #20DF7F 0%, #0066FF 166.88%);
}
.indi_btn{
    background: linear-gradient(90deg, #0066FF -48.96%, #20DF7F 200.68%);
}
.team_btn:hover{
    width: 100%;
    transition: 500ms ease-in;
}
.team_btn:hover + .indi_btn{
    display: none;
    transition: 500ms ease-in;
}
.indi_btn:hover{
    width: 100%;
    transition: 500ms ease-in;
}
.indi_btn:hover + .team_btn{
    display: none;
    transition: 500ms ease-in;
}
/* Smartphones ----------- */
@media only screen
and (max-width: 800px) {
    .wlcmjay_hdr{
        flex-direction: column;
    }
    .wlcmjay_hdr h1{
        align-self: center;
        text-align: center;
        font-size: 5rem;
        margin-top: 10px;
    }
    .wlcmjay_hdr img{
        width: 100%;
    }
    .wlcm_btn{
        flex-direction: column;
    }
} 
/* iPads  ----------- */
@media only screen
and  (min-width: 426px) and (max-width: 1024px) {
    .wlcmjay_hdr{
        flex-direction: column;
    }
    .wlcmjay_hdr h1{
        align-self: center;
        text-align: center;
        font-size: 5rem;
    }
    .wlcmjay_hdr img{
        width: 70%;
    }
    .wlcm_btn{
        flex-direction: column;
    }
} 